body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

body {
    position: relative;
    height: 100vh;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.bulb {
    display: inline-block;
    width: 220px;
    height: 400px;
    background-image: url(./img/bulb.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.bulb > .light {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    font-size: 10px;
    width: 20em;
    height: 20em;
    border: 1em solid transparent;
    border-radius: 11em;
    animation-name: lights;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes lights {
    0% {
        background-color: blue;
        box-shadow: 0 0px 70px 20px blue;
    }

    33% {
        background-color: red;
        box-shadow: 0 0px 70px 20px red;
    }
    66% {
        background-color: green;
        box-shadow: 0 0px 70px 20px green;
    }
    100% {
        background-color: blue;
        box-shadow: 0 0px 70px 20px blue;
    }
}

.battery {
    display: inline-block;
    width: 40%;
    height: 20%;
    border: 20px solid #333;
    border-radius: 10px;
    position: relative;
}
.battery::after {
    content: '';
    width: 20px;
    height: 60px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(200%, -50%);
    background-color: #333;
}
.battery::before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0%;
    left: 50%;
    animation-name: charging;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes charging {
    0% {
        background-color: orange;
    }
    50% {
        background-color: yellow;
    }
    100% {
        background-color: green;
        width: 100%;
    }
}

@media (max-width: 700px) {
    .battery {
        height: 15%;
        width: 50%;
    }
}

@media (max-width: 450px) {
    .battery {
        width: 60%;
    }
}